/*----------- base -----------*/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

html {
    font-size: 14px;
}

body {
    background-color: #E4EEE1 !important;
    text-align: center !important;
    font-size: 1.6rem;
    font-family: 'Calibri';
    font-smoothing: antialiased;
}


/*----------- base -----------*/
input {
    text-align: center;
}

.btn {
    background-color: black !important;
    color: white !important;
    border: none !important;
    margin-left: 5px;
    padding-top: 1px !important;
}
.form-group{
    min-width: 800px !important;
}
